
@{
    ViewBag.Title = "Đặt Hàng Thành Công";
}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <h2 style="text-align:center;">Đặt Hàng Thành Công </h2>

        <hr/>
        @Html.ActionLink("Về trang chủ", "Index", "Home", null, new { @class = "btn btn-danger" })
    <div class="col-sm-3"></div>
    </div>
</div>


