@{
    ViewBag.Title = "Thành công";
}
<script src="https://kit.fontawesome.com/47800f97b7.js" crossorigin="anonymous"></script>
<style>
    .img-home, .img-contact {
        display: none;
    }
</style>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text-center">
        <h2 class="text-center">Bạn đã để lại thông tin liên hệ thành công </h2>
        <hr />
        <p><h5>Chúng tôi chân thành cảm ơn quý khách đã để lại thông tin liên hệ cho chúng tôi.</h5>
        Chúng tôi sẽ sớm phản hồi lại cho quý khách.</p>

        <hr />
        @Html.ActionLink("Về trang chủ", "Index", "Home", null, new { @class = "btn btn-success" })
        <div class="col-sm-3"></div>
    </div>
</div>


