@{
    ViewBag.Title = "About";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<div class="connhanong">
    <hr />
    <div class="h2">
        <h2>CON NHÀ NÔNG</h2>
        <div class="line"></div>
    </div>
    <span>
        Là những kỉ niệm hoài cổ của xa xưa, chúng tôi mong tim lại và mang lại những phong vị đã mất,
        những mùi hương quen thuộc tưởng chừng như đã bị lãng quên, khôi phục nguyên vẹn sự tỉ mỉ chăm
        chút của thế hệ trước, trước cả khi món ăn trở thành tên đường phố, trước cả khi thương mại hóa đặc sắc
        vùng miền. chỉ mong mỗi bữa ăn là hạnh phúc giản đơn, thuần khiết.
    </span>
    <hr />
    <a href="~/Home/Contact"><button>Xem Thêm</button></a>
</div>
